{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-lg">
    <div class="row">
        <div class="col-lg-3 col-12 mb-5">
            <div class="mt-2 sticky-top">
                {% include 'svg/undraw_questions_re_1fy7.svg' %}
                <h1 class="mt-2 text-center">Frequently Asked Questions</h1>
            </div>
        </div>
        <div class="col-lg-9 col-12">
            <div class="container">
                <section class="mb-4">
                    <h2>Why would I use this over the app on my phone?</h2>
                    <p class="text-danger">We like to think of our services as a helpful supplement to your favorite navigation app, not a replacement.</p>
                    <p class="text-danger">What we do is take a look at your route on a larger scale. </p>
                    <p class="text-danger">From there, you may enter the ordered list of addresses we provide into your navigation system and continue on like normal.</p>
                    <p class="text-danger">While we cannot give you step-by-step directions, we can take a look at the bigger picture and optimize that aspect for you.</p>
                    <p class="text-danger">What it might <i>not</i> be able to do is automatically order your route to reduce travel time. More than likely, it will just assume the order you enter addresses is the order for that route.</p>
                </section>
                <section class="mb-4">
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, a odit quod excepturi reiciendis libero nobis eaque unde temporibus. Id itaque ducimus dignissimos aperiam vitae temporibus sint nisi numquam qui incidunt excepturi, beatae provident ab vero, error modi reprehenderit accusantium? Quas vitae ullam illo aliquid nesciunt aspernatur facilis sequi quia?</p>
                </section>
                <section class="mb-4">
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati repellendus veniam tenetur asperiores, perferendis unde magnam quam, natus ipsa a voluptatum qui nihil voluptate dicta dignissimos quis vero totam facilis praesentium minus maxime expedita. Sunt dicta animi voluptate aut?</p>
                </section>
                <section class="mb-4">
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati repellendus veniam tenetur asperiores, perferendis unde magnam quam, natus ipsa a voluptatum qui nihil voluptate dicta dignissimos quis vero totam facilis praesentium minus maxime expedita. Sunt dicta animi voluptate aut?</p>
                </section>
            </div>
        </div>
    </div>
</div>








{% endblock content %}


